<div class="heroes_container">
  <header class="heroes_header">
    <h1>ALL CHARACTERS</h1>
    <p>GET HOOKED ON A HEARTY HELPING OF HEROES AND VILLAINS FROM THE HUMBLE HOUSE OF IDEAS!</p>
  </header>
  <div class="charters_filter_container">
    <input type="text" class="search" placeholder="SEARCH">
  </div>
  <div class="charters-list__container">
    <ul class="charters-list">
      <li class="charters-list_item">
        <img src="">
        <div class="charter_descr">
          <h1 class="charter_name"></h1>
          <p class="charter_author"></p>
        </div>
      </li>
    </ul>
  </div>
</div>
