*{
  outline:none;
}
.table-box{
  border: 3px solid lightgrey;
  display: inline-block;
  border-radius: 7px;
  font-size: 90%;
  background: white;
  width: auto;
}
.user_table{
  padding: 15px;
  border-collapse: collapse;
}
.table_row {
  border: 1px solid black ;
  text-align: center;
  padding: 2px 4px;
}
.table_head_th{
  border: 1px solid black ;
}
.table_row:nth-child(even) {
  background-color: #dddddd;
}
.table_row-item{
  border: 1px solid lightgrey;
  padding: 0 4px;
}
.pagination_vs_btns-container{
  display: flex;
  justify-content: space-between;
}
.button{
  border: none;
  border-radius: 1px;
  padding: 2px 4px;
  cursor: pointer;
}
.table_container{
}
