<div class="edit__container">
  <div class="edit-list__container">
    <ul class="edit-list">
      <li class="edit-list_item">
        <h3 class="list-item__title">First Name</h3>
        <input class="edit_input" type="text" name="firstName" [(ngModel)]="user.firstName" (keyup)="onChange()">
      </li>

      <li class="edit-list_item">
        <h3 class="list-item__title">Last Name</h3>
        <input class="edit_input" type="text" name="lastName" [(ngModel)]="user.lastName" (keyup)="onChange()">
      </li>

      <li class="edit-list_item">
        <h3 class="list-item__title">Email</h3>
        <input class="edit_input" [disabled]="!options.isNew" type="email" name="email" [(ngModel)]="user.email" (keyup)="onChange()">
      </li>

      <li class="edit-list_item">
        <h3 class="list-item__title">Company</h3>
        <input class="edit_input" type="text" name="companyName" [(ngModel)]="user.companyName" (keyup)="onChange()">
      </li>

      <li class="edit-list_item">
        <h3 class="list-item__title">Country</h3>
        <input class="edit_input" type="text" name="lastName" [(ngModel)]="user.country" (keyup)="onChange()">
      </li>

      <li class="edit-list_item">
        <h3 class="list-item__title">Phone number</h3>
        <input class="edit_input" type="text" name="lastName" [(ngModel)]="user.phoneNumber1" (keyup)="onChange()">
      </li>

      <li class="edit-list_item">
        <h3 class="list-item__title">Reserve phone number</h3>
        <input class="edit_input" type="text" name="phoneNumber2" [(ngModel)]="user.phoneNumber2" (keyup)="onChange()">
      </li>

      <li class="edit-list_item">
        <h3 class="list-item__title">Gender</h3>
        <input class="edit_input" type="text" name="gender" [(ngModel)]="user.gender" (keyup)="onChange()">
      </li>

      <li class="edit-list_item">
        <h3 class="list-item__title">About</h3>
        <input class="edit_input" type="text" name="lastName" [(ngModel)]="user.description" (keyup)="onChange()">
      </li>

      <li class="edit-list_item" *ngIf="options.isNew">
        <h3 class="list-item__title">Password</h3>
        <input class="edit_input" type="password" name="password" [(ngModel)]="user.password" (keyup)="onChange()">
      </li>
      <li class="edit-list_item" *ngIf="options.isNew">
        <h3 class="list-item__title">Confirm Password</h3>
        <input class="edit_input" type="password" name="passwordConfirm" [(ngModel)]="options.passwordConfirm" (keyup)="onChange()">
        <div *ngIf="user.password && options.passwordConfirm && (user.password !== options.passwordConfirm)">Password and confirm password don't match!</div>
      </li>
    </ul>
  </div>
  <button class="edit_button" id="backMenu" (click)="hideBtn()">Hide</button>
  <button
    class="edit_button"
    *ngIf="options.changed"
    [disabled]="!user.email || (options.isNew && !user.password)"
    id="saveNpush"
    (click)="trySave(user)"
  >
    {{options.isNew ? 'Create' : 'Update'}}
  </button>
  <button class="edit_button" *ngIf="!options.isNew" id="deleteUser" (click)="deleteUserData(user.id)">Delete</button>
</div>
