<div class="comics__container">
  <header class="comics_header">
    <img  class="logo" src="../../../assets/img/marvel/logo_marvel.png" alt="">
    <button class="logout" (click)="quit()">
      Log Out
    </button>
  </header>
  <main class="main">
    <div class="filter">
      <ul class="filter_comics_list">
        <li class="filter_comics_item">
          <p class="filter_comics-link filter_comics-text">Browse By</p>
        </li>
        <li class="filter_comics_item" *ngFor="let filter of comicsFilters">
          <a class="filter_comics-link" href="{{filter.link}}">{{filter.name}}</a>
        </li>
      </ul>
    </div>
    <div class="comics_list-container">
      <ul class="comics__list">
        <li class="comics__list-item" *ngFor="let comics of comicsImages">
          <a class="comics__item-link" href="{{comics.detailURL}}">
            <img class="comics__item-img" src="{{comics.img}}">
            <p class="comics_descr">{{comics.title}}</p>
          </a>
        </li>
      </ul>
    </div>
  </main>
</div>
